body{
    background-color: lightgrey;
    text-align: center
}
header{
    text-align: center;
}
#bannière{
    width: 100%;
}
main{
    display: flex;
}
section{
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    margin: 1em 1em;
    background-color: aliceblue;
}

footer{
    display: flex;
    justify-content: space-evenly;
}
.image{
    align-self: center;
    margin-top: 1em;
}
input{
    background-color: black;
    color: aliceblue;
}