body{
    background-color: lightgrey;
    text-align: center
}
header{
    text-align: center;
}
#bannière{
    width: 100%;
}
main{
    display: flex;
    justify-content: space-evenly;
}
section{
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    margin: 1vh 1vw;
    background-color: aliceblue;
    padding: 1vh 1vw;
    width: 50%;
}

footer nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
footer nav ul li a{
    padding: 1vh 1vw;
    background-color:black;
    color: white;
    text-decoration: none;
}
footer nav ul li a:hover{
    color:black;
    background-color: white;
}
@media screen and (max-width: 600px), (max-device-width: 600px) {
    main{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    footer nav ul{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        width: 50%;
    }
}